<h1>Seja bem-vindo a sua agenda!</h1>

<ul>
<li><%= link_to "Endereço", adresses_path  %></li>
<li><%= link_to "Contato",contacts_path %></li>
<li><%= link_to "kind", kinds_path %></li>
<li><%= link_to "Telefone", phones_path %></li>
</ul>